#!/bin/bash

# Make emacs the default editor
export EDITOR=vim;


# big bash history
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoreboth;
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:pass:pass *";

# Let me see my Elixir history
#export ERL_AFLAGS="-kernel shell_history enabled"
export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_path '\"$HOME/.erlang_history\"'"
